config PINCTRL_NF271X
	depends on ARCH_NF271X && PINCTRL_FULL && OF_CONTROL
	default y
	bool "NGXXFUS 271x family pin control driver"
	help
	   Support pin multiplexing and pin configuration control on
	   Broadcom's 283x family of SoCs.

# config PINCTRL_NF2718
# 	depends on ARCH_BMIPS && PINCTRL_FULL && OF_CONTROL
# 	default y
# 	bool "Broadcom 6838 family pin control driver"
# 	help
# 	   Support pin multiplexing and pin configuration control on
# 	   Broadcom's 6838 family of SoCs.
