if SYS_BOARD = "myrpi4cp"

	config RPI_EFI_NR_SPIN_PAGES
		int "[myrpi4cp/Kconfig] Spin table page count"
		default 1
		help
			Number of pages to reserve starting at page 0 for spin tables in the EFI
			memory map

endif

