# config TARGET_MYRPI4CP
#     bool "[board/ngxxfus/myrpi4cp/Kconfig] MYRPI4CP board"
#     depends on ARM
#     select ARCH_BCM283X
# 	select BCM2711_64B
    # select MMC
    # select MMC_SDHCI
    # select MMC_SDHCI_BCM2835
    # select DM_SERIAL
    # select BCM2711_SERIAL
#     help
#       Support for NGXXFUS MYRPI4 custom board based on Raspberry Pi 4 (BCM2711).

# if TARGET_MYRPI4CP

# 	config SYS_BOARD
# 		string
# 		default "myrpi4cp"

# 	config SYS_VENDOR
# 		string
# 		default "ngxxfus"

# 	config SYS_CONFIG_NAME
# 		string
# 		default "myrpi4cp"

# endif


if SYS_BOARD = "myrpi4cp"

	config RPI_EFI_NR_SPIN_PAGES
		int "[myrpi4cp/Kconfig] Spin table page count"
		default 1
		help
			Number of pages to reserve starting at page 0 for spin tables in the EFI
			memory map



endif

